{% extends 'base.html' %}
{% block title %}Expense Category List{% endblock title %}
{% block content %}
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in expense_categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{expense_categories.count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
